.portfolio_sct {
    padding: 100px 0 100px 0;
}

.portfolio_title {
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 15px;
}

.portfolio_text {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}

.portfolio_img {
    width: 100%;
    height: auto;
}

.mb-3 {
    margin-bottom: 1.3rem !important;
}