.navBar {
    border-bottom: 1px solid rgba(255,255,255,.2);
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
    min-height: 50px;
}

.nav_list {
    display: flex;
    margin: 0;
}

.logo {
    padding: 30px 0;
}

.nav_item_child {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    letter-spacing: .02em;
    font-family: "Roboto", sans-serif;
    line-height: 55px;
    padding: 20px 0  20px 40px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}

.nav_item_child:hover {
    color: #ff0000;
}